@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    overflow:scroll;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 85px;
  flex-shrink: 0;
  background: #EAE18E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

nav a {
  color: black;
  display: inline-block; 
}

p a {
  text-decoration: none;
}


nav p{
margin-top: 27px;
margin-left: 1px;
width: 52.448px;
height: 23px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.settings2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 110px;
  top: 140px;
}

.general-information {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 250px;
  width: 239px;
  height: 33px;
}
.security {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 410px;
  width: 239px;
  height: 33px;
}
.sign-out {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 490px;
  width: 239px;
  height: 33px;
}
.notifications {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 147px;
  top: 330px;
  width: 239px;
  height: 33px;
}

.user-solid-1-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 95px;
  top: 240px;
  overflow: visible;
}
.bell-solid-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 95px;
  top: 325px;
  overflow: visible;
}
.arrow-right-from-bracket-solid-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 95px;
  top: 488px;
  overflow: visible;
}

.shield-halved-solid-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 95px;
  top: 405px;
  overflow: visible;
}

.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 304.01px;
  height: 0px;
  position: absolute;
  left: 82px;
  top: 300px;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 304.01px;
  height: 0px;
  position: absolute;
  left: 82px;
  top: 380px;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 304.01px;
  height: 0px;
  position: absolute;
  left: 82px;
  top: 460px;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 304.01px;
  height: 0px;
  position: absolute;
  left: 82px;
  top: 540px;
}

.form {
  background: #eae18e;
  border-radius: 10px;
  border-style: solid;
  border-color: #cfcfcf;
  border-width: 1px;
  width: 750px;
  height: 250px;
  position: absolute;
  left: 483px;
  top: 240px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.general{
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
 
}


.full-name {
  color: #000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font:bold;
  font-weight: 500;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;


}

.username {
  color: #000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font:bold;
  font-weight: 500px;
  position: absolute;
  margin-left: 20px;
  margin-top: 150px;

}

.toggle {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  width: 50px;
  height: 26px;
  background-color: hsl(0, 0%, 85%);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}
.toggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.25s ease-out;
}
#cb-toggle1:checked + .toggle {
  background-color: hsl(0, 0%, 0%);
}
#cb-toggle1:checked + .toggle::after {
  transform: translateX(24px);
}

#cb-toggle2:checked + .toggle {
  background-color: hsl(0, 0%, 0%);
}
#cb-toggle2:checked + .toggle::after {
  transform: translateX(24px);
}

.hide-me {
  opacity: 0;
  height: 0;
  width: 0;
}


.btn1{
  margin-top: 70px;
  margin-left: 640px;
}
.btn2{
  margin-top: 40px;
  margin-left: 640px;
}
