@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    overflow:scroll;
}

nav {
  width: 1440px;
  height: 85px;
  flex-shrink: 0;
  background: #EAE18E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  background: #EAE18E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 606px;
  height: 432px;
  flex-shrink: 0;
}


.logo-cat {
  position:absolute; 
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}



.header {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.container h1 {
  color: #805500;
  text-align: center;
  font-family: 'Figma Hand', cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container h2 {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  width: 112%;
  border: none;
  border-top: 3px solid #d7a833; 
  margin-bottom: 20px;
}


.login-box {
    text-align: center;
}

.login-box p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.input-field {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 525px;
  height: 51px;
  margin-bottom: 25px;
  display: flex; 
}

.input-field input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px; 
  font-size: 16px;
}


.input-field img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-top: 10px;
}

.btn-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.btn-field button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-btn {
  border-radius: 5px;
  border: 2px solid #B28A4F;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 120px;
  height: 40px;
  flex-shrink: 0;

}

.login-btn {
  width: 340px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #B28A4F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.forgot-pass {
  width: 161px;
  height: 28px;
  flex-shrink: 0;
  color: #0047FF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

